*{
    box-sizing: border-box;
    -webkit-font-smoothing : antialiased;
    margin: 0;
    padding:0;
  }

.container{
    display: flex;
}

#map { 
    height: 100vh;
    width: 100vw;
 }


.leaflet-popup-content-wrapper {
    padding:0;
    overflow: hidden;
  }
.leaflet-popup-content-wrapper.leaflet-popup-content {
    margin: 0;

  }
.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background: #1005ec;
    color: #eee;
    font-size: 12px;
    border-radius: 16px;
  }
  .leaflet-popup-content-wrapper p {
    padding: 0;
    font-size: 12px;
    margin: 16px;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content .id {
    padding: 16px;
    padding-top: 0;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content a {
    color: #3607f2;
    font-size: 12px;
  }
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}